  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
        <!-- <p>VCodify Team develop strengths and skills to enable design and develop many innovative websites with interactive applications to a high standard.</p> -->
        <p>Vcodify Technologies aim to deliver quality services to the end customers with complete satisfaction by providing customer-centric, result-oriented, cost-competitive innovative & functional IT Solutions. We do realize the potential of our people and deploying them in required format with clients and delivering the satisfactory ROI. To Increase community outreach, we keep improving internal communications. </p>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Information Technology</h3>
          <p>
            Vcodify Technologies - Focus on Mobile Applications and Web Application Development.
          </p>
          <p class="font-italic">
            Experienced in using IT in a variety of situations, We have developed an extensive knowledge of web development and technicalities over the last 8+ years.</p>
            <p>
                We have an understanding of the elements and requirements necessary to produce high quality, interactive websites. 
            </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/img/about-img.jpg" class="img-fluid shadow" alt="">
        </div>
      </div>

    </div>
  </section><!-- End About Us Section
