 {% load static %}
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>We deliver high quality solutions to the most complex challenges as per your specifications by leveraging our deep understanding of business requirements and market trends. This is further supplemented by our proficiency in developing state of the art technology and software industry best practices. Our software outsourcing services include technology consulting, business analysis, QA, application maintenance and solution integration. </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
                <img src="https://img.icons8.com/dusk/128/000000/python.png"/>
            </div>
            <h4><a href="">Python</a></h4>
            <p>
                Vcodify extends reliable and extendible custom Python development services to augment your business scalability. 
                <!-- We specialize in building high-quality Python Applications with exceptional security level and ecstatic performance levels. -->
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img width="128" height="128"  src="{% static 'img/icons/zoho-logo.png' %}"/>
            </div>
            <h4><a href="">Zoho</a></h4>
            <p>We work on Zoho crm, Zoho Book, Zoho Creator, Zoho Campaign ,Zoho people.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
                <img class="rounded" width="100" height="100"  src="{% static 'img/icons/NET_Logo.png' %}"/>
            <br>
            </div>
            <h4><a href="">.Net</a></h4>
            <p>Vcodify creates feature-packed .NET applications we deliver the most advanced and high-end technologies, 
                along with the other incredible benefits.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
            <img width="200" height="100" src="{% static 'img/icons/angular.png' %}"/>
            </div>
            <h4><a href="">Angular</a></h4>
            <p>We design the comprehensive web applications, which are scalable, reliable and rich in functionality</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img width="240" height="130"  src="{% static 'img/icons/php-logo.png' %}" alt="php.logo"/>
            </div>
            <h4><a href="">Php</a></h4>
            <p>We delivers the most comprehensive PHP web applications and solutions, which are scalable, reliable and rich in functionality. 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
                <img width="240" height="110"  src="{% static 'img/icons/nodejs-logo.png' %}" alt="node.logo"/>

            </div>
            <h4><a href="">Node Js</a></h4>
            <p>We aim to provide scalable and easy to implement API for mobile application development services as per our client’s requirements.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->