{% load static %}
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'home'%}"><img src="{% static 'img/logo.png' %}" alt="logo"><sub>codify Technologies</sub></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home'%}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home'%}#careers">Careers</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home'%}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home'%}#services">Services</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}#contact"><button type="button" class="btn btn-outline-dark">Connect Now</button>
          </a>
        </li>
          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>