<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' %}
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@vcodify.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +91 172 (456) 2881
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" target="_blank" class="twitter"><i class="bx bi-twitter"></i></a>
        <a href="#" target="_blank" class="facebook"><i class="bx bi-facebook"></i></a>
        <a href="#" target="_blank" class="pinterest"><i class="bx bxl-pinterest"></i></a>
		<a href="#" target="_blank" class="google-plus"><i class="bx bxl-google-plus"></i></a>
        <a href="https://www.linkedin.com/company/vcodify-technologies" target="_blank" class="linkedin"><i class="bx bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  {% include 'includes/header.html' %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Vcodify Technologies</span></h2>
              <p class="animate__animated animate__fadeInUp">VCodify Team develop strengths and skills to enable design and develop many innovative websites with interactive applications to a high standard.</p>
              <a href="#about" class="btn btn-outline-light animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">We have</h2>
              <p class="animate__animated animate__fadeInUp">An understanding of the elements and requirements necessary to produce high quality, interactive websites.</p>
              <a href="#about" class="btn btn-outline-light animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/robot-2301646_1280.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">We deliver</h2>
              <p class="animate__animated animate__fadeInUp">High quality solutions to the most complex challenges as per your specifications by leveraging our deep understanding of business requirements and market trends.</p>
              <a href="#about" class="btn btn-outline-light animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hand-thumbs-up"></i></div>
              <h4 class="title"><a href="">Teamwork</a></h4>
              <p class="description">We work well within a team environment and help to ensure shared projects are produced consistently and effectively, with regular involvement in team briefings to discuss new projects, ideas, plans and opportunities.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Innovation</a></h4>
              <p class="description">We have the ability to identify and implement more effective methods of working, particularly in relation to programming, and to assist other team members, offering ideas and solutions to problems they encounter.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Communication</a></h4>
              <p class="description">We are able to understand customer requirements and meet their needs.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    {% include 'pages/aboutus.html' %}
  
    {% include 'pages/whyus.html' %}


    <section id="careers" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>CAREERS</h3>
            <p>Would like to Work with Us ?</p>
            <p>We are focus to hiring the right talent for the suitable project. 
              Newly hired employee are given both general orientation which is related to the company vision, mission, values, 
              policies and procedures and job specific orientation such as his/her job duties, responsibilities, goals and current priorities</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" onclick="" href="{% url 'apply' %}">Apply Here</a>
          </div>
        </div>

      </div>
    </section>
   {% include 'pages/services.html' %}

    <!-- ======= Team Section ======= -->
    <!-- {% include 'pages/team.html' %} -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    {% include 'pages/contacts.html' %}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'includes/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% include 'includes/scripts.html' %}

</body>

</html>